{% extends 'base.html.twig' %}

{% block title %}Mémo Twig{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}
	<h2>Mémo Twig</h2>
	
	<p>
		<a href="https://openclassrooms.com/courses/utilisation-de-twig-un-moteur-de-templates" target="_blank">
			Cours OC
		</a>
		, 
		<a href="http://twig.sensiolabs.org/documentation">
			documentation officielle
		</a>
		, 
		<a href="{{ path('chap2_4') }}">
			Chapitre 2-4
		</a>
		.
	</p>
	
	<h4>Création d'une URL relative</h4>
	<pre>{% filter escape %}{% verbatim %}<a href="{{ path('blog_show', {'page': 5}) }}">
    Read this blog post.
</a>{% endverbatim %}{% endfilter %}</pre>
	
	<h4>Création d'une URL absolue</h4>
	<pre>{% filter escape %}{% verbatim %}<a href="{{ url('blog_show', {'page': 5}) }}">
    Read this blog post.
</a>{% endverbatim %}{% endfilter %}</pre>
	<p>
		{{  '{{ variable }}' }} pour afficher une variable.<br />
		{{  '{# commentaire  #}' }}<br />
		{% verbatim %}
			{{ array['key'] }} et {{ array.key }}font exactement la même chose <br />
			Identité : {{ nom ~ " " ~ prenom }} concaténation<br />
        {% endverbatim %}
	</p>
	
	<h4>Echapper les accolades</h4>
	<p>
		{% verbatim %}
			{{  '{{ variable }}' }}
		{% endverbatim %}
	</p>
	<p>Ou un bloc</p>
	<p>	{{ '{% verbatim %}' }} ... {{ '{% endverbatim %}' }}</p>
	
	
	<h4>Les filtres</h4>
	<p>
		(on peut en créer) : upper, lower, title, length, escape (ou e)
		<br />
		{{  '{{ text }}' }} : {{ text }} <br />
		{% verbatim %}
			{{ text|lower|title}} :
		{% endverbatim %}
		{{ text|lower|title}} </br>
		{% verbatim %}
			Date : {{ date|date('d/m/Y') }} filtre avec argument (date au format Datetime)
		{% endverbatim %}
	</p>
	
	<h4>Les filtres sur les blocs</h4>
	<p>
		{% verbatim %}
			{% filter upper|escape %}			
			    je vais être écrit en majuscule <em>et échappé</em>			
			{% endfilter %}
		{% endverbatim %} :
		{% filter upper|escape %}
	    		je vais être écrit en majuscule <em>et échappé</em>
			{% endfilter %}
		 <br />
	</p>
	<p>Si autoespace à true, on peut faire:</p>
	<p>
		{% verbatim %}
			{% autoescape false %}
				<strong>Je vais être affiché en gras</strong>
			{% endautoescape %}
		{% endverbatim %}
	</p>
	
	<h4>Quelques autres filtres:</h4>
	{% verbatim %}
    	<p>{{ var|upper }} Met toutes les lettres en majuscules.</p>
    	<p>{{ var|striptags }} Supprime toutes les balises XML.</p>
    	<p>{{ date|date('d/m/Y') }} Formate la date selon le format donné en argument. La variable en entrée doit être une instance de Datetime. Date d'aujourd'hui : {{ "now"|date('d/m/Y') }}</p>
    	<p>{{ "Il y a %s pommes et %s poires"|format(153, nb_poires) }} Insère des variables dans un texte, équivalent à printf.</p>
    	<p>Longueur de la variable : {{ texte|length }} Nombre d'éléments du tableau : {{ tableau|length }} Retourne le nombre d'éléments du tableau, ou le nombre de caractères d'une chaîne.</p>
    {% endverbatim %}
    <p>
    	Documentation de tous les filtres: 
    	<a href="http://twig.sensiolabs.org/doc/filters/index.html">
    		http://twig.sensiolabs.org/doc/filters/index.html
    	</a>
    </p>
    
	<h4>Les conditions</h4>
	{% verbatim %}
		<pre>{% if online > 1 %}
    Il y a {{ online }} membres en ligne
{% elseif online == 1 %}
    Il n'y a qu'un seul utilisateur en ligne (Vous !)
{% else %}
    Il n'y a aucun utilisateur en ligne. Cette phrase ne sera, en principe, jamais lue sauf par toi. Ô grand développeur !.
{% endif %}</pre>
	{% endverbatim %}
	
	
	<h4>Les tests</h4>
	<p>defined, divisbleby, empty</p>
	<p>
		{% verbatim %}
			{% if equipe.volley is divisibleby(6) %}
	    		L'équipe sera divisé en 2 équipes de 6.
			{% endif %}
		{% endverbatim %}
	</p>	
	
	<h4>La boucle for</h4>
	<p>
		{% verbatim %}
			{% for i in 0..50 %}
		    	Ceci est la ligne {{ i }}
			{% endfor %}<br />
			{% for letter in 'a'..'d' %}
    			La lettre {{ letter }} est lettre numéro {{ loop.index }} de l'alphabet.   
			{% endfor %}
		{% endverbatim %}
		<br />
		{% for letter in 'a'..'d' %}
    			La lettre {{ letter }} est lettre numéro {{ loop.index }} de l'alphabet.<br />
		{% endfor %}
	</p>
	<p>Boucle sur un tableau avec condition:</p>
	<p>
		{% verbatim %}
			{% for joueur in club if equipe is not empty %}
	    		Le joueur {{ joueur.nom }} joue dans l'équipe {{ joueur.equipe }}
			{% endfor %}
		{% endverbatim %}
	</p>
	
	<h4>Définir des variables</h4>
	<p>
		{% verbatim %}
			{% set var = "val" %}<br>
			{% set mascotte, os = 'beastie', 'bsd' %}
		{% endverbatim %}
	</p>
	
	<h4>Ajouts pratiques</h4>
	<p>
		{% verbatim %}
			{% include 'header.twig' %}<br />
			{% include 'fichier.twig' with {'var': 'val'} only %}<br />
			{% include online ? 'options.twig' : 'connexion.twig' %}<br />
			
		{% endverbatim %}
	</p>
	
	<h4>Les imports</h4>
	<p>Dans form.html.twig :</p>
	<pre>{% filter escape %}{% verbatim %}{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}

{% macro textarea(name, value, rows) %}
    <textarea name="{{ name }}" rows="{{ rows|default(10) }}" cols="{{ cols|default(40) }}">{{ value|e }}</textarea>
{% endmacro %}{% endverbatim %}{% endfilter %}</pre>
	<p>Dans ce template :</p>
	<pre>{% filter escape %}{% verbatim %}{% import 'forms.html.twig' as forms %}
<dl>
    <dt>Username</dt>
    <dd>{{ forms.input('username') }}</dd>
    <dt>Password</dt>
    <dd>{{ forms.input('password', none, 'password') }}</dd>
</dl>
<p>{{ forms.textarea('comment') }}</p>{% endverbatim %}{% endfilter %}</pre>

	{# {% import 'TemplateBundle:Template:forms.html.twig' as forms %} 
	<dl>
	    <dt>Username</dt>
	    <dd>{{ forms.input('username') }}</dd>
	    <dt>Password</dt>
	    <dd>{{ forms.input('password', none, 'password') }}</dd>
	</dl>
	<p>{{ forms.textarea('comment') }}</p> #}
	
{% endblock %}