{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

{% if advert is not null %}

	<div class="row">
    	<div class="col-sm-4">
        	{%  if advert.image is not null %}
        		<img src="{{ advert.image.src }}" alt="{{ advert.image.alt }}" class="img-responsive">
        	{% endif %}
    	</div>
    	<div class="col-sm-8">
    		<h3>{{ advert.title }}</h3>
    	</div>
    	<div class="col-xs-12">
			<i><b>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</b>.</i>
			{% if advert.updatedAt is not null %}
				<i>Mise à jour le {{ advert.updatedAt|date('d/m/Y') }}</i>
			{% endif %}
			<br />
			<i>
				<h4>Catégories:</h4>
			    {% if not advert.categories.empty %}
    				{% for category in advert.categories %}
    					 {{ category.name }}{% if not loop.last %}, {% else %}.{% endif %}
    				{% endfor %}
				{% endif %}
			</i>
			<br />
			<i>
				<h4>Compétences:</h4>
				{% if advertSkills is not null  %}
					{% for advertSkill in advertSkills %}
						{{ advertSkill.skill.name }} : {{ advertSkill.skill.level }}<br>
					{% endfor %}
				{% endif %}
			</i>
            <div class="well">
                {{ advert.text }}
            </div>
        </div>
    	<div class="col-xs-12">
    		<h4>
    		    {% if advert.nbApplications is not null %}
    				{{ advert.nbApplications }}
    			{% endif %}
    		 	candidatures:
    		 </h4>
    		{% if advert.applications is not null %}
    			{% for application in advert.applications %}
  					Le {{ application.date|date('d/m/Y') }} - {{ application.author }} :<br />
  					{{ application.content }} <br />
  					<a href="{{ path('oc_platform_delete_application', {'idAdvert': advert.id, 'idApplication': application.id}) }}">
  						supprimer
  					</a>
  					{% if not loop.last %}<br />{% endif %}
    			{% endfor %}
    		{% endif %}
    	</div>
    	<div class="col-xs-12">
    		<p><i>Slug: {{ advert.slug }}</i></p>
    	</div>
	</div>
	
	<hr>


  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
  
{% endif %}

{% endblock %}