{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

	<div class="row">
    	<div class="col-sm-4">
        	{%  if advert.image is not null %}
        		<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" class="img-responsive">
        	{% endif %}
    	</div>
    	<div class="col-sm-8">
    		<h3>{{ advert.title }}</h3>
    	</div>
    	<div class="col-xs-12">
			<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
			<br />
			<i>
				Catégories:
			    {% if not advert.categories.empty %}
    				{% for category in advert.categories %}
    					 {{ category.name }}{% if not loop.last %}, {% else %}.{% endif %}
    				{% endfor %}
				{% endif %}
			</i>
			<br />
			<i>
				Compétences:<br>
				{% if advertSkills is not null  %}
					{% for advertSkill in advertSkills %}
						{{ advertSkill.skill.name }} : {{ advertSkill.level }}<br>
					{% endfor %}
				{% endif %}
			</i>
            <div class="well">
                {{ advert.text }}
            </div>
        </div>
    	<div class="col-xs-12">
    		<p>Liste des candidatures:</p>
    		{% if applications is not null %}
    			{% for application in applications %}
    				<p><b>{{ application.author }}</b> : {{ application.content }}</p>
    			{% endfor %}
    		{% endif %}
    	</div>
	</div>


  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}