{% extends 'base.html.twig' %}

	{% block title %}
	
		{{ parent() }}- Part 2
		
	{% endblock %}

	{% block body %}
	
		{{ parent() }}
	
	{% endblock %}
	
	{% block body_content %}	

		<h3>
			Partie 2 - Les bases de Symfony
		</h3>
		<ul>
			<li>
				<a href="{{ path('chap2_1') }}" >
					2.1 Mon premier « Hello World ! » avec Symfony 
				</a>	
			</li>
			<li>
				<a href="{{ path('chap2_2') }}" >
					2.2 Le routeur de Symfony 
				</a>	
			</li>
			<li>
				<a href="{{ path('chap2_3') }}" >
					2.3 Les contrôleurs avec Symfony
				</a>	
			</li>
			<li>
				<a href="{{ path('chap2_4') }}" >
					2.4 Le moteur de templates Twig
				</a>	
			</li>
			<li>
				<a href="{{ path('chap2_5') }}" >
					2.5 Installer un bundle grâce à Composer
				</a>	
			</li>
			<li>
				<a href="{{ path('chap2_6') }}" >
					2.6 Les services, théorie et création
				</a>	
			</li>
		</ul>
		

		
	{% endblock %}	