{% extends 'base.html.twig' %}

	{% block title %}
	
		{{ parent() }}- Part 4
		
	{% endblock %}

	{% block body %}
	
		{{ parent() }}
	
	{% endblock %}
	
	{% block body_content %}	

		<h3>
			Partie 4 - Allons plus loin avec Symfony
		</h3>
		<p>ORM : Object-Relation Mapper - « lien objet-relation »</p>
		<ul>
			<li>
				<a href="{{ path('chap4_1') }}" >
					4.1 Créer des formulaires avec Symfony
				</a>	
			</li>
			<li>
				<a href="{{ path('chap4_2') }}" >
					4.2 
				</a>	
			</li>
			<li>
				<a href="{{ path('chap4_3') }}" >
					4.3 
			</a>	
			</li>
			<li>
				<a href="{{ path('chap4_4') }}" >
					4.4  
				</a>	
			</li>
			<li>
				<a href="{{ path('chap4_5') }}" >
					4.5 
				</a>	
			</li>
			<li>
				<a href="{{ path('chap4_6') }}" >
					4.6 
				</a>	
			</li>
		</ul>
		

		
	{% endblock %}	